h2 , span{
    color: brown;
}

.card{
    
    width: 400px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
img{
height: 250px;
  width: 100%;  
  border-radius: 20px;
}
h4{
    text-align: right;
}

#pets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media(max-width:376px){

    #pets{
        flex-wrap: wrap;
    }




}

@media(min-width:600px){

    #pets{
        flex-wrap: wrap;
    }
}