
div{
    width: 400px;
    height: 200px;
    background-color: #60835c;
    margin: 10px auto;
    background-image: url("nahil-naseer-xljtGZ2-P3Y-unsplash.jpg");
    background-size: cover;
    color: white;
}